.navBar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navBar a {
  transition: all 0.3s ease-in-out;
}
.navBar a:hover {
  color: #6d7d8c;
}

@media (max-width: 768px) {
  .navBar {
    height: auto;
  }
  .navBar div {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
  }
  .navBar ul {
    width: 100%;
    display: none;
  }
  .navBar li {
    margin: 0;
    width: 100%;
  }
  .navBar a {
    text-align: center;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .toggle + a,
  .menu:active + ul {
    display: block;
    text-align: center;
  }
  .toggle {
    display: block;
    background-color: #1a202c;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }
  .toggle:hover {
    background-color: #3b3f46;
    color: #fff;
  }
  .menu {
    width: 100%;
    display: none;
  }
  .menu li {
    text-align: center;
    margin: 0;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .menu a {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
}

/* header */

.headerClass h2 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.headerClass p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.btn-primary {
  background-color: #1a202c;
  color: #fff;
}

.btn-primary:hover {
  background-color: #3b3f46;
}

.sectionClassP {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.sectionClassH2 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.sectionClass input:focus,
.sectionClass textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #718096;
}

.footerClass a:hover {
  text-decoration: underline;
}

.sectionClass img {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.blog-card {
  border-radius: 1rem;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-content {
  padding: 2rem;
}

.blog-content h3 {
  color: #555555;
}

.btn {
  display: inline-block;
  background-color: #3490dc;
  color: #fff;
  padding: 0.75rem 1rem;
}

.liClass i:hover {
  transform: scale(1.2);
}

/* Value Prop Header .sectionClass */
.valuepropheader {
  background-image: url("/images/city.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.valuepropheaderContainer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.valuepropheaderH1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.valuepropheaderH2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.valuepropheaderBtn {
  display: inline-block;
  background-color: #b89c6e;
  color: #fff;
  font-size: 1.6rem;
  padding: 15px 30px;
  border-radius: 30px;
  transition: all 0.2s ease;
  text-decoration: none;
}

.valuepropheaderBtn:hover {
  background-color: #fff;
  color: #b89c6e;
  border: 2px solid #b89c6e;
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
